<ion-content  [fullscreen]="true" style="background-color: #EADFD9;">
  <div id="container">
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div style=" display: flex; justify-content:center;" >
      <ion-avatar>
        <img src="./assets/img_avatar.png">
      </ion-avatar>
    </div>
    <div style="margin-top: 10px;">
      <ion-button class="ion-text-center" color="success"(click)="signin()"  expand="block">SIGN IN</ion-button>
    </div>
   
    </div>
    </ion-content>
